bg-custom {
    background-image: url('https://cdn.pixabay.com/photo/2019/02/08/17/39/cube-3983634_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body , main {
   min-height: 100vh;
}
