.board {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
    margin: 20px;
}
.board div {
    border: 1px solid black;
    padding: 1px;
}
.board div:nth-child(even){
    background-color: black;
    border: 1px solid white;
}
